.solution {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
}

.solution_content {
    display: flex;
    padding: 0px 40px;
    align-items: center;
    flex-direction: column;

    img {
        height: 55px;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.87);
        font-size: 18px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        line-height: 1.6;
        text-transform: uppercase;
        text-align: center;
    }

    h3 {
        color: rgba(0, 0, 0, 0.87);
        font-size: 15px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        line-height: 1.33;
        margin: 0;
        display: block;
    }
}